body {
  font-family: "nanumsquare";
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.my-alert {
  background: #607bf1;
  padding: 15px;
  border-radius: 10px;
  max-width: 400px;
}

.my-alert p {
  margin-bottom: 0;
}
